# Environment Variables
.env
.venv
venv/
env/
.agent
.adk
cda_dust_agent/.adk
# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Large Files
cda_dust_agent/data/
*.parquet
*.jsonl
*.csv
batch_requests.jsonl
predictions.jsonl
batch_analysis_results.csv

# IDEs
.vscode/
.idea/
.DS_Store

# Experiment Tracking
last_run_config.json
batch_request.json

# GCP Cloud SDK custom installation
google-cloud-sdk
google-cloud-cli-linux-x86_64.tar.gz

*.bsp
*.tf
*.png
*.tpc
*.tls
*.tsc